<!DOCTYPE html>
<html>
  <head>
    
    <title>Scraper of the onion</title>
    
    <link rel="icon" href="assets/images/onion.jpg">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="assets/style/style.css">
  </head>

  <body>
  
    <main> 


      <div class="container">
        <ul class="collection with-header">
          <li class="collection-header yellow lighten-1 text-align: center"><h4><b>Scraped Articles at Your Fingertips!</b></h4>
          <h5>Let the onion be your guide to entertainment today</h5></li>
          
      </div>


      <!-- Articles-->
      <div class="container">
        {{{body}}}
      </div>

    </main>






    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  
    <script type="text/javascript" src="assets/javascript/app.js"></script>
    
  </body>

</html>